.filter-container {
  width: 200px;
  position: absolute;
  height: fit-content;
  min-height: 100px;
  background-color: #dfdfdf;
  top: 180px;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  max-height: 250px;
  align-items: start;
  justify-content: left;
  padding-bottom: 5px;
}
.filter-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
  position: relative;
  left: -40px;
  top: -10px;
  gap: 5px;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.filter-container ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
}
.filter-container button {
  width: fit-content;
  height: 25px;
  min-width: 60px;
  border-radius: 16px;
  border: 0px solid black;
  font-size: 15px;
  background-color: #0280fa;
  cursor: pointer;
  color: white;
  position: relative;
  left: 130px;
}
